{# @var craft \craft\web\twig\variables\CraftVariable #}

{#
/**
* Styleguide plugin fro Craft CMS 3.x
*
* Styleguides Settings.twig
*
* @author B3rning14
* @copyright Copyright (c) 2021 B3rning14
* @link https://www.b3rning14.fr
* @package Styleguides
* @since 1.0.0
*/
#}

<p>Hello World</p>
